<footer class="footer border-top d-flex align-items-center justify-content-space-evenly flex-column">  
        <div class="f-link my-1">
          <i class="fa-brands fa-facebook ms-1" style="color: #613cd3;"></i>
          <i class="fa-brands fa-linkedin ms-1" style="color: #422b88;"></i>
          <i class="fa-brands fa-twitter ms-1" style="color: #3b2bb6;"></i>
        </div>
        <div class="f-brand mb-1">
         &copy; BooknBunk private limited
        </div>
        <div class="f-info">
          <a href="/privacy">Privacy</a>
          <a href="/tandc">Terms and conditions</a>
          <a href="/sevice">Services</a>
        </div>
</footer>