<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-slack fa-xl" style="color: #eb2c0a;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-4">
        <a class="nav-link" href="/listings">EXPLORE</a>
        <a class="nav-link" href="/listings/new">BOOK & BUNK HOME</a>
      </div>
      <div class="navbar-nav ms-auto">
        
       <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div> 
</nav>