body{
    /* font-family: "Plus Jakarta Sans", sans-serif !important; */
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container{
    flex:1;
}

.navbar{
    height:4rem;
}
@media(min-width:992px){
 .navbar-nav .sacu{
   font-weight:bolder;
}
}

@media(max-width:991px){
.navbar-collapse{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dee2e6;
}

.navbar-collapse .navbar-nav{
    margin: 0 !important;
    display:flex;
    flex-direction:column;
    align-items: start;
}

.nav-link{
   font-size: smaller;
   color:black;
}

.filter{
    font-size: 12px;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem !important;
    background-color: black;
    color:white;
    padding: 1rem;
    margin-left: 3rem !important;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 2vw;
  }
  
}


.nav-link{
    color:black;
}

.nav-link{
    font-weight:500;
}


.footer{
    height:15vh;
    background-color:rgb(233, 238, 238);
}

.f-brand{
    color:black;
    font-weight:400;
    font-size:0.75rem;
}

.f-info a{
    font-weight:400;
    font-size:0.75rem;
}

.listing-card{
    border:none !important;
    margin-bottom:2rem !important;
}

.card img{
    height:18rem;
}

.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit:cover !important;

}

.card-body{
    padding:0 !important;
}

.card-text{
    font-weight:400;
}

.listing-link{
    text-decoration:none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.add-btn{
    border:none;
}

.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

